[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git@github.com:getpelican/pelican-plugins.git
[submodule "crowsfoot"]
	path = pelican-crowsfoot
	url = git@github.com:porterjamesj/crowsfoot.git
