.footer {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 56px;
}

a:link {
    color: #ebebeb;
}

a:visited {
    color: #ebebeb;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navbar {
  list-style-type: none;
  float: left;
}

.navbar li{
  font-size: 22px;
  color: #ebebeb;
  padding-right: 16px;
  float: right;
  display: block;
}

.activity {
  max-width: 768px;
}

.activity p {
  text-align: center;
  font-size: 18px;
  text-align: left;
  margin: 20px;
}

.activity h2 {
  font-size: 30px;
  text-align: center;
}

.activity img {
  width: 768px;
}

body {
  color: #dfdfdf;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #000000;
}

canvas.emscripten { 
    border: 0px none; 
    background-color: #000000;
}

.emscripten {
    margin-left: auto; 
    margin-right: auto; 
    padding-right: 0; 
    display: block;
}
.emscripten_border { 
    border: 1px solid black; 
}

#output {
  font-size: 28px;
  font-family: serif;
  text-align: center;
}
