.panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#activity {
  width: 768px;
}

#slider-container {
  width: 128px;
  text-align: center;
  font-size: 18px;
  text-align: left;
  padding: 72px;
}

body {
  color: #dfdfdf;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #000000;
}

canvas.emscripten { 
    border: 0px none; 
    background-color: #000000;
}

.emscripten {
    margin-left: auto; 
    margin-right: auto; 
    padding-right: 0; 
    display: block;
}
.emscripten_border { 
    border: 1px solid black; 
}
